<nav class="navbar">
  <div class="contenedor_navbar_1">
    <a class="a_navbar" href="/pages/index.html">
      <p id="texto_navbar">Chefcito</p>
    </a>
  </div>
  <ul class="contenedor_navbar_2">
    <li>
      <a class="a_navbar" href="/pages/ingredientes.html">
        <p id="texto_navbar">Ingredientes</p>
      </a>
    </li>
    <li>
      <a class="a_navbar" href="/pages/nuevas_Recetas.html">
        <p id="texto_navbar">Nuevas Recetas</p>
      </a>
    </li>
    <li>
      <a class="a_navbar" href="/pages/ultimas_Recetas.html">
        <p id="texto_navbar">Ultimas Recetas</p>
      </a>
    </li>
    <li>
      <a class="a_navbar" href="/pages/perfil.html">
        <p id="texto_navbar">Perfil</p>
      </a>
    </li>
  </ul>
</nav>