<nav class="navbar">
  <div class="contenedor_navbar_1">
    <a class="a_navbar" href="home.html">
      <p id="texto_navbar">Chefcito</p>
    </a>
  </div>
  <ul class="contenedor_navbar_2">
    <li>
      <a class="a_navbar" href="ingredientes.html">
        <p id="texto_navbar">Agregar Ingredientes</p>
      </a>
    </li>
    <li>
      <a class="a_navbar" href="nuevas_Recetas.html">
        <p id="texto_navbar">Nuevas Recetas</p>
      </a>
    </li>
    <li>
      <a class="a_navbar" href="ultimas_Recetas.html">
        <p id="texto_navbar">Ultimas Recetas</p>
      </a>
    </li>
    <li>
      <a class="a_navbar" href="favoritas.html">
        <p id="texto_navbar">Recetas Favoritas</p>
      </a>
    </li>
    <li>
      <a class="a_navbar" href="perfil.html">
        <p id="texto_navbar">Perfil</p>
      </a>
    </li>
  </ul>
</nav>