.contenedor_Principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_OpcionesRecetas {
    background-color: rgb(245, 245, 220);
    display: flex;
    width: 75%;
    height: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.ingredientePrincipal,
.seleccionar_Dieta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.ingredientePrincipal h2,
.seleccionar_Dieta h2 {
    margin: 0;
    font-size: 2rem;
}

.activar_IngredientePrincipal {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    height: 3rem;
    border: none;
    background-color: rgb(244, 244, 243);
    color: rgb(39, 30, 30);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.5rem;
    white-space: nowrap;
}

.activar_IngredientePrincipal:hover {
    background-color: rgb(203, 248, 209);
}

select {
    width: 21rem;
    height: 3.5rem;
    color: rgb(39, 30, 30);
    background-color: rgb(244, 244, 243);
    font-size: 1rem;
    padding: 2%;
    border-color: rgb(244, 244, 243);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.select_Dieta {
    width: 15rem;
}

.btn_GenerarRecetas {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    width: 35rem;
    height: 3rem;
    border: none;
    background-color: rgb(117, 183, 152);
    color: rgb(209, 231, 221);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-bottom: 10%;
}

.contenedor_NuevasRecetas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    position: relative;
}

.tarjeta_NuevaReceta {
    padding: 0.5rem 1rem;
    width: 20rem;
    height: 26rem;
    background-color: rgba(251, 195, 153);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    border-radius: 22px;
}

.img_Recetas {
    background-color: rgb(231, 229, 229);
    width: 18rem;
    height: 11rem;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 18px 18px 0 0;
    margin-bottom: 0;
}

.tarjeta_NuevaReceta p,
.tarjeta_NuevaReceta text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tarjeta_NuevaReceta p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-transform: capitalize;

}

.tarjeta_NuevaReceta text {
    margin-top: -2rem;
}

.btn_seleccionarReceta {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    height: 3rem;
    border: none;
    background-color: rgb(244, 244, 243);
    color: rgb(39, 30, 30);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-top: auto;
    /* Empuja el botón hacia abajo */
}

.divisor_contenedores {
    border: 0;
    height: 5px;
    width: 100%;
    background-color: rgb(241, 228, 219);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.activar_GeneracionImagenes {
    margin-top: 2%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.contenido_modal {
    background-color: #f5f5dc;
    border-radius: 5px;
    width: 80vw;
    height: 80vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido_modal_Receta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.img_boton_favorita {
    width: 20px;
    height: 20px;
}

.btn_fav {
    background-color: rgb(255, 255, 139);
    padding: 10px;
}

.informacion_receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 80vh;
    background-color: rgb(25, 135, 84);
 
    color: aliceblue;
    overflow-x: hidden;
    border: none;
}

.nombre_Receta_Seleccionada {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    word-break: break-word;
    white-space: normal;
    }

.descripcion_Receta_Seleccionada {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1rem;
    overflow: hidden;
}

.contenido_modal_pasos {
    width: 55vw;
    height: 80vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.pasos_Receta_Seleccionada {
    padding: 2%;
    flex-grow: 1;
    overflow-y: scroll;
    font-size: 1.5rem;
}

.botones_modal {
    background-color: rgb(25, 135, 84);
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 10%;
    border: none;

}
.titulo_modal_Receta_Seleccionada{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15%;
    margin-top: 15%;
}