.nav_Index{
    background: rgb(25, 135, 84);
    height: 70px;
}
nav li:hover {
    background-color: rgba(9, 240, 132, 0.233);
}

.contenedor_Principal{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.primer_Bloque{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 50%;

}
.contenedor_Titulos{
    margin-top: 0;
    color:#146C43;
    text-align: center;
    width: 60%;
    height: 20%;
}
.contenedor_Titulos h1{
    font-size: 150px;
    margin-bottom: 0;
    margin-top: 0;
}
.contenedor_Titulos h2{
    font-size: 40px;
    margin-top: 0;
}
.contenedor_Titulos p{
    font-size: 20px;
    margin-top: 0;
}
.img_Titulos{
    width: 40%;
    height: 20%;
    box-shadow: 10px 10px 20px #babecc, -5px -5px 20px #ffffff;
    border-radius: 5%;
}
.btn_sinFondo{
    color:#146C43;
    font-size: 1.5rem;
}
.btn_Principal{
    margin-left: 10%;
    width: 50%;
    font-size: 2rem;
}
.segundo_Bloque{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    text-align: center;
    background-color: #dfdfc9;

}
.segundo_Bloque h2{
    color:#146C43;
    font-size: 40px;
}
.segundo_Bloque p{
    font-size: x-large;
    margin-top: 2%;
    color: #41413a;
}
.segundo_Bloque .ultimo_P{
    margin-bottom: 5%;
}
.tercer_Bloque{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: #d1d1bc;
}