/* Add styles here */
@font-face {
    font-family: "RobotoCondensedItalic";
    src: url("./font/RobotoCondensed-Italic-VariableFont_wght.ttf");
    font-family: "RobotoCondensed";
    src: url("./font/RobotoCondensed-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    font-family: "RobotoCondensed", sans-serif;
}

body {
    margin: 0;
    background-color: #f5f5dc;
}

nav {
    background-color: rgb(25, 135, 84);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 3rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

nav li:hover {
    background-color: rgba(9, 240, 132, 0.774);
}

button {
    background-color: rgb(244, 244, 243);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    height: 3rem;
    border: none;
    color: rgb(39, 30, 30);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: rgb(203, 248, 209);
}

.btn_sinFondo {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: rgb(244, 244, 243);
    font-size: 1rem;
}

.modal_Perfil {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}
  
.contenido_Modal_Perfil {
    margin: auto;
    background-color: #f5f5dc;
    padding: 20px;
    border-radius: 5px;
    width: 45vw;
    height: 60vh;
    position: relative;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
  
.contenido_Modal_Perfil::-webkit-scrollbar {
    display: none; 
}

.tab-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tab-link {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    outline: none;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.tab-link{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    background-color: rgb(25, 135, 84);
    color: aliceblue;
}
.contenido_Modal_Perfil input{
    border: none;
    width: 20vw;
    height: 6vh;
    padding: 10px;
    margin-top: 10px;
    font-size: 2vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.Opciones_Modal_Perfil{
    display:flex;
    justify-content: center;
}