.nav_Index{
    background: #198754;
    height: 70px;
}
nav li:hover {
    background-color: rgba(9, 240, 132, 0.233);
}

.contenedor_Principal{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.primer_Bloque{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 50%;

}
.contenedor_Titulos{
    margin-top: 0;
    color:#146C43;
    text-align: center;
    width: 60%;
    height: 20%;
}
.contenedor_Titulos h1{
    font-size: 10vw;
    margin-bottom: 0;
    margin-top: 0;
}
.contenedor_Titulos h2{
    font-size: 4vh;
    margin-top: 0;
}

.img_Titulos{
    width: 40%;
    height: 20%;
    box-shadow: 10px 10px 20px #babecc, -5px -5px 20px #ffffff;
    border-radius: 5%;
}
.btn_sinFondo{
    color:#146C43;
    font-size: 1.5rem;
}
.btn_Principal{
    margin-left: 10%;
    width: 50%;
    font-size: 2rem;
}
.contenedor_info{
    width: 50%;
    height: 40%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2%    
}
.contenedor_info p{
    font-size: 20px;
    margin-top: 0;
}
.contenedor_botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    gap: 10%
}
.segundo_Bloque{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    text-align: center;
    background-color: #dfdfc9;

}
.segundo_Bloque h2{
    color:#146C43;
    font-size: 5vh;
}
.segundo_Bloque p{
    font-size: x-large;
    margin-top: 2%;
    color: #41413a;
}
.segundo_Bloque .ultimo_P{
    margin-bottom: 5%;
}
.segundo_Bloque .p_principal{
    font-size: 5vh;
    color: #146C43;
}
.tercer_Bloque{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: #d1d1bc;
    text-align: center;
}
.tercer_Bloque h2{
    color:#146C43;
    font-size: 5vh;
}
.tercer_Bloque text{
    margin: auto;
    text-align: center;
    width: 48vw;
    padding: 1%;
    font-size: large;
    color: #41413a;
}
.tercer_Bloque .ultimo_text{
    margin-bottom: 5%;
}

.cuarto_Bloque{
    background-color:#c5c5b1;
    width: 100%;
    height: 20%;
    text-align: center;
}
.cuarto_Bloque h2{
    color:#146C43;
    font-size: 5vh;
}
.cuarto_Bloque h3{
    color:#146C43;
    font-size: 3.5vh;
}
.img_tecnologias{
    width: 10vw;
    height: 10vw;
}
.cuarto_Bloque .ultimo_text{
    margin-bottom: 5%;
}
.prompt_utilizado{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    text-align: center;
}
.prompt_utilizado text{
    margin: auto;
    text-align: center;
    width: 60vw;
    padding: 1%;
    font-size: medium;
    color: #41413a;
}
.quinto_Bloque{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: #d1d1bc;
    text-align: center;
}
.quinto_Bloque h2{
    color:#146C43;
    font-size: 5vh;
}
.quinto_Bloque text{
    margin: auto;
    text-align: center;
    width: 50vw;
    padding: 1%;
    font-size: large;
    color: #41413a;
}
.quinto_Bloque .ultimo_text{
    margin-bottom: 5%;
}