.contenedor_Ultimas_Recetas {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
 }
 
 .imagenes_Ultimas_Recetas {
    display: flex;
    transition: transform 1s ease-in-out;
 }
 
 .gallery-item {
    min-width: 50%;
    box-sizing: border-box;
 }
 
 .gallery-item img {
    width: 25rem;
    height: 11rem;
    object-fit: cover;
 }
 .botones_UltimasRecetas{
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
 }
 
